<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Procedures for Selling | Potomac Heights</title>

    <link rel="stylesheet" href="/static/fonts/butler.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <link rel="stylesheet" href="/static/css/test.css" />

    <script src="/static/js/htmx.min.js" defer></script>
  </head>

  <body>
    <div id="app" x-data="app">
      <header hx-get="/static/html/header.html" hx-trigger="load"></header>

      <main
        class="container mx-auto flex justify-between gap-24 px-5 py-10 text-lg"
      >
        <div class="document">
          <h1>Procedures for Selling a Membership in Potomac Heights</h1>

          <blockquote>
            <p>
              All required information on Buyer (i.e., Application for
              Membership and pre-qualification letter from the bank)
              <span class="font-medium text-black underline decoration-2"
                >must be</span
              >
              in Housing Office
              <span class="font-medium text-black"
                >no later than the close of business</span
              >
              (4pm) the Monday before a scheduled Membership interview meeting
              or the buyer must wait until next scheduled meeting to be
              interviewed.
            </p>
          </blockquote>

          <section>
            <ol>
              <li>
                Complete the
                <span class="font-medium text-black">Permission to Sell</span>
                form -
                <span class="font-medium text-black"
                  >be sure to sign and date it</span
                >
                - and submit to the Housing Office.
                <span class="font-medium text-black"
                  >Every member that is listed on the membership, regardless of
                  the names on the mortgage, must sign the Permission to
                  Sell</span
                >.
              </li>

              <li>
                Contact the Housing Office to discuss the necessary
                <span class="font-medium text-black">Inspection</span>
                process.
                <span class="font-medium text-black underline decoration-2"
                  >An independent inspection must be performed and submitted to
                  the Housing Office a minimum of two weeks prior to
                  settlement</span
                >. Any items required will be the seller's responsibility.
                Sellers will notify the Housing Office once all repairs have
                been completed. PHCH will then perform an inspection to ensure
                all items covered under schedule maintenance are current and up
                to date. If items are noted on the inspection to be repaired
                Potomac Heights will be responsible for those items. Seller
                should complete and return sales information in order for the
                unit to be listed on the
                <span class="font-medium text-black">For Sale List</span>.
                Permission to sell is good for a period of one year. Extensions
                will be granted should it become necessary. Seller will be
                notified in advance that permission is about to expire and asked
                to request renewal, if desired, in writing.
              </li>

              <li>
                The potential buyer of the home should be encouraged to obtain a
                <span class="font-medium text-black">Buyer's Package</span> from
                the Housing Office
                <span class="font-medium text-black">prior</span> to a contract
                being finalized on the home; this is to ensure that the
                applicant is approved for membership before steps are taken to
                obtain a contract. This package will assist the buyer by guiding
                them through the procedures necessary to bring the sale to a
                successful conclusion.

                <p class="mt-5">
                  If the buyer is financing the home, the buyer should apply for
                  loan and membership simultaneously in order to speed the loan
                  and membership application process. Once the buyer has
                  received approval for membership, the seller and buyer should
                  coordinate a date and time to walk through the unit and review
                  the independent inspection results. After the review of the
                  inspection, clarify any discrepancies, and obtain copies for
                  their reference and review.
                </p>
              </li>

              <li>
                The seller should present original
                <span class="font-medium text-black"
                  >Membership Certificate</span
                >
                to the Housing Office at the completion of the review of the
                <span class="font-medium text-black">inspection</span>. This
                will be held in member's final until settlement.
              </li>

              <li>
                The seller and buyer should coordinate with the bank, settlement
                agent, and Housing Office for a date and time for settlement. A
                <span class="font-medium text-black">Final Walk Through</span>
                to sign off on the inspection form, obtain a copy for their
                records, provide a
                <span class="font-medium text-black"
                  >certificate of inspection</span
                >
                performed within the last 60 days from a licensed contractor for
                the heat and/or air conditioning system, and proceed with the
                Potomac Heights portion of settlement. The settlement agent will
                collect all funds due at sale and complete their disbursement.
              </li>

              <li>
                No settlement will be held if there is any unfinished work to be
                completed by the seller.
                <span class="font-medium text-black"
                  >There will be no “as-is” sales permitted</span
                >.

                <p class="mt-5">
                  <span class="font-medium text-black">NOTE</span>: A settlement
                  agent is used for all settlements, whether financed through a
                  lender or a cash sale. All settlements must be conducted
                  through Buyer's Title; there are
                  <span class="font-medium text-black">no exceptions</span> to
                  this.
                </p>
              </li>
            </ol>

            <p>
              <span class="font-medium text-black"
                >FINAL SETTLEMENT IS COMPLETE WHEN:</span
              >
            </p>

            <ul>
              <li>All keys to the dwelling are turned over</li>
              <li>All documents conveying membership are completed</li>
              <li>Loan documents are completed</li>
              <li>
                Any and all operating payments due at time of settlement are
                paid (e.g., any pro-rated payment as agreed between buyer and
                seller; or any outstanding balances due by seller)
              </li>
              <li>
                Buyer pays $600 membership fee
                <span class="font-medium text-black">and</span> $200 settlement
                fee to PHCH
              </li>
              <li>Buyer pays all lender charges/fees</li>
              <li>Buyer pays all settlement agent fees</li>
              <li>Proof of additional homeowners insurance is received</li>
              <li>
                Certificate of Inspection for the heating/air conditioning
                system is received
              </li>
            </ul>
          </section>
        </div>

        <aside class="sticky top-10 items-start self-start">
          <h2 class="font-serif text-4xl font-bold">
            How do I sell my membership?
          </h2>

          <p class="mb-3">
            Want to learn more about the selling procedures of your Potomac
            Heights membership?
          </p>

          <a
            href="https://ipfs.io/ipfs/bafkreiea2q2f2l6vf3xyf4tqdcluzeaalsmya5xzdqjlnidvuuaaskrnsm"
            target="_blank"
            class="border-2 border-indigo-800 py-1 px-2 font-medium text-indigo-800"
          >
            View Procedures for Selling
          </a>
        </aside>
      </main>

      <footer hx-get="/static/html/footer.html" hx-trigger="load"></footer>
    </div>
  </body>
</html>
