<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Technology | Potomac Heights</title>

    <link rel="stylesheet" href="/static/fonts/butler.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/tailwind.css" />
  </head>

  <body class="bg-black text-green-600">
    <div id="app" class="w-[35em] p-10 text-lg" style="font-family: monospace">
      <header>
        <a
          class="border-2 border-blue-500 px-2 py-1 font-medium text-blue-500"
          href="/"
          >Go back home</a
        >
        <h1 class="mt-5 text-4xl font-bold">Technology</h1>
        <p class="mt-1">
          This is the technology used on the Potomac Heights Cooperative Housing
          website.
        </p>
      </header>

      <main class="mt-5">
        <ul class="flex list-inside list-disc flex-col gap-5">
          <li>
            <a class="font-medium text-blue-500" href="https://gun.eco"
              ><strong>G</strong>un</a
            >
            <p class="pl-6">
              A small, easy, and fast protocol for syncing data.
            </p>
          </li>
          <li>
            <a class="font-medium text-blue-500" href="https://htmx.org"
              ><strong>H</strong>tmx</a
            >
            <p class="pl-6">
              A library that gives access to modern browser features directly
              from HTML.
            </p>
          </li>
          <li>
            <a class="font-medium text-blue-500" href="https://alpinejs.dev"
              ><strong>A</strong>lpine</a
            >
            <p class="pl-6">
              A rugged, minimal tool for composing behavior directly from
              markup.
            </p>
          </li>
          <li>
            <a class="font-medium text-blue-500" href="https://tailwindcss.com"
              ><strong>T</strong>ailwind</a
            >
            <p class="pl-6">A utility-first CSS framework.</p>
          </li>
        </ul>
      </main>
    </div>
  </body>
</html>
